.choose-us{
  margin-top: 109px;
  flex-grow: 1;
}
.choose-us__header{
  text-align: center;
  font-size: 35px;
  font-family: Lato-Bold;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin-bottom: 22px;
}
.choose-us__paragraph{
  text-align: center;
  font-family: Lato-Regular;
  color:gray;
  font-size:13px;
  letter-spacing: 1px;
  line-height: 23px;
;}
.choose-us__titles{
  margin-top: 75px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.choose-us__title{
  text-align: center;
  width: 200px;
  border: 1px solid #ebebeb;
  flex-wrap: wrap;
  min-height: 272px;
  margin-top: 10px;

}
.choose-us__name{
  margin-top: 49px;
  font-family: Lato-Heavy;
  font-weight: bolder;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.5px;

}
.choose-us__img{
  margin-top: 33px;
  font-size: 60px;
  color: #503392;
}
.choose-us__text{
  font-size: 14px;
  font-family: Lato-Light;
  margin-top: 21px;
  color:#7f7f7f;
  letter-spacing: 0.5px;
}
.choose-us__see-more{
  min-height: 150px;
  background-color: #503392;
  margin-top: 27px;
}
.choose-use__see-more-text{

}
.fa-link{
  transform: rotateX(-180deg);
  padding: 10px;
  background-color: white;
  border-radius: 100%;
  cursor: pointer;
  margin-right: 5px;
}
.fa-link:hover{
  background-color: $split;
}
.fa-search-plus{
  padding: 10px;
  background-color: white;
  border-radius: 100%;
  cursor: pointer;
  margin-left: 5px;
}
.fa-search-plus:hover{
  background-color: $split;
}
.choose-us__icon-container{
  margin-top: 29px;
}
.choose-us__see-more-text{
  padding-top: 29px;
  font-family: Lato-Bold;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
}
@media(max-width: 1024px){
  .choose-us__title{
    margin:10px auto;
  }
}