.get-in-touch {
  margin-top: 41px;
  letter-spacing: 1px;
}

.get-in-touch__header {
  text-align: center;
  font-family: Lato-Bold;
  font-size: 35px;
  text-transform: uppercase;
}

.get-in-touch__paragraph {
  text-align: center;
  font-family: Lato-Regular;
  font-size: 13px;
  margin-top: 24px;
  color: #a6a6a6;
}

.get-in-touch-map {
  width: 100%;
  margin-top: 86px;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 632px;
  width: 100%;
}

.get-in-touch__form {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  margin: auto;
  height: 69%;
  width: 59%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 0;
  color: white;
  display: flex;
  align-items: center;
  color: #a6a6a6;
}

.get-in-touch__contacts {
  width: 200px;
  margin-left: 5vw;
  color: white;
  align-self: start;
  margin-top: 76px;
}

.get-in-touch__contacts p {
  padding-bottom: 9px;
}

.get-in-touch__map-container {
  position: relative;
}

.form-elem {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  padding: 15px;
  flex-grow: 1;
  max-width: 46%;;
}

.get-in-touch__inputs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 489px;
  margin-left: 65px;
}

.big-inp {
  padding: 20px;
  padding-bottom: 115px;
  width: 100%;
  margin-top: 10px;
  background-color: transparent;
  color: white;
  border: 1px solid gray;
}


option {
  color: black;
}

.check-container {
  margin-top: 10px;
  justify-content: space-between;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.get-in-touch__btn {
  padding: 17px 44px;
  background-color: #ffff00;
  border: 0;
}

/* Customize the label (the container) */
label {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: Lato-Regular;
  letter-spacing: 0px;
}

/* Hide the browser's default checkbox */
label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto 0;
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: 1px solid gray;
}

/* On mouse-over, add a grey background color */
label:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
label input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
label .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media(max-width: 1024px) {
  .get-in-touch__form {
    flex-direction: column;
    height: auto;
    width: auto;
  }
  .get-in-touch__inputs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 0px;
    margin-top: 10%;
  }
  .get-in-touch__contacts {
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 10px;
    width: 80%;
    display: flex;
    flex-direction: row;

  }
  .get-in-touch__contacts p {
    padding-bottom: 2px;
  }
  .form-elem {
    width: 100%;
  }
}